<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento de desempenho</title>

    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/educacional-dash.css">

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Sora:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<div class="dashboard-container">

    <!-- SIDEBAR (COPIADA IGUAL) -->
    <aside class="sidebar">
        <div class="sidebar-profile">
            <div class="profile-photo"></div>
            <h3 class="profile-name">Ricardo Almeida</h3>
            <p class="profile-title">Coordenador</p>
        </div>

        <nav class="sidebar-nav">
            <button class="nav-btn">Temas Cobrados</button>
            <button class="nav-btn active">Monitoramento</button>
            <button class="nav-btn">Atuação Regional</button>
            <button class="nav-btn">Conteúdo por Habilidade</button>
        </nav>
    </aside>

    <!-- CONTEÚDO -->
    <main class="main-content">

        <header class="dashboard-header">
            <h1> PAINEL DE DESEMPENHO EDUCACIONAL</h1>
        </header>

       <section class="dificuldade">
            <div>
                teste
            </div>
       </section>

       

    

    </main>
</div>

<script>


</script>

</body>
</html>