<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Análise de Desempenho</title>

    <link rel="stylesheet" href="../css/educacional-dash.css" />
    <link rel="stylesheet" href="../css/layout.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Sora:wght@700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <div class="container-painel">
      <!-- BARRA LATERAL -->
      <aside class="barra-lateral">
        <div class="perfil-lateral">
          <div class="foto-perfil"></div>
          <p class="nome-perfil">Lavínia Todarelli</p>
          <p class="cargo-perfil">Administrador</p>
        </div>
        <nav class="nav-lateral">
          <a href="analise-desempenho">
            <button class="nav-btn">Análise e Desempenho por Tema</button></a
          >
          <a href="dash-monitoramento"
            ><button class="nav-btn active">
              Monitoramento de Desempenho por habilidade
            </button></a
          >
          <a href="lista-desempenho"
            ><button class="nav-btn">Lista de Desempenho por questão</button></a
          >
          <a href="simulados"><button class="nav-btn">Simulados</button></a>
          <a href="gerenciamento-professores"
            ><button class="nav-btn">Gerenciamento de professores</button></a
          >
          <a href="gerenciamento-coordenadores"
            ><button class="nav-btn">Gerenciamento de Coordenadores</button></a
          >
        </nav>
      </aside>

      <!-- CONTEÚDO -->
      <main class="main-content">
        <header class="dashboard-header">
          <h1>Painel de Análise de Desempenho Educacional</h1>
        </header>

        <!-- CARDS -->
         
          
         <div class="tituloSection">
           <p class="kpi-secao-titulo">Nota média do município de São Paulo</p>
         </div>
        <section class="cards-top">
          <div class="mini-card laranja">
           
            <p>Matemática</p>
            <strong>529</strong>
          </div>
          <div class="mini-card verde">
            <p>Ciências da Natureza</p>
            <strong>495</strong>
          </div>
          <div class="mini-card azul">
            <p>Ciências Humanas</p>
            <strong>517</strong>
          </div>
          <div class="mini-card roxo">
            <p>Linguagens</p>
            <strong>528</strong>
          </div>
        </section>

        <section class="card">
          <div class="card-content">
            <canvas id="linhaChart"></canvas>
          </div>
        </section>
      </main>
    </div>

    <script>
      const ctx = document.getElementById("linhaChart");

      new Chart(ctx, {
        type: "line",
        data: {
          labels: ["2019", "2021", "2022", "2023", "2024"],
          datasets: [
            {
              label: "Matemática",
              data: [500, 502, 480, 520, 530],
              borderColor: "#ec9731",
              tension: 0.4,
            },
            {
              label: "Natureza",
              data: [500, 498, 512, 500, 488],
              borderColor: "#4caf50",
              tension: 0.4,
            },
            {
              label: "Humanas",
              data: [515, 510, 520, 505, 522],
              borderColor: "#2196f3",
              tension: 0.4,
            },
            {
              label: "Linguagens",
              data: [510, 482, 508, 500, 520],
              borderColor: "#9c27b0",
              tension: 0.4,
            },
          ],
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: "top",
            },
          },
        },
      });
    </script>
  </body>
</html>
