<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>DataSafe | Cadastro</title>

  <script src="../js/sessao.js"></script>

  <link rel="stylesheet" href="../css/cadastro.css">
  <link rel="icon" href="../assets/imgs/logo.png" type="img">

</head>

<body>
  <main>
    <div class="container">
      
      <a class="ancora" href="../views/index.html" ><img class="voltar" src="../assets/icon/arrow_back.png" alt=""></a>


      <h1>Cadastre-se na <br>Datasafe</h1>

    </div>

    <div class="container-formulario">

      <img src="../assets/imgs/logoDataSafeRemastered-removebg-preview.png" id="Logo">


      <a class="ancora sub" href="./index" ><img class="voltar" src="../assets/icon/arrow_back.png" alt=""></a>

        <img src="../assets/imgs/datasafe-removebg-preview.png" alt="" class="sub">

      <div class="input">
        <label for="nome" id="nome_input">Nome Completo:</label><br>
        <input type="text" id="iptNome">
      </div>

        <div class="input">
        <label for="email" id="email">Email:</label><br>
        <input type="text" id="iptEmail">
      </div>

      <div class="input">
        <label for="mensagem" id="senha_input">Senha:</label><br>
        <input type="password" id="iptSenha">
      </div>

      <div class="input">
        <label for="convite" id="codigoConvite">Convite:</label><br>
        <input type="text" id="iptConvite">
      </div>
      <button onclick="cadastrar()">Cadastrar</button>
                <div id="mensagem_erro"></div>

      <p>Já tem uma conta? <a href="./login">Entrar</a></p>
    </div>

  </main>
</body>

</html>

<script>

  function limparFormulario() {
    iptNome.value = "";
    iptEmail.value = "";
    iptSenha.value = "";
  }


  function cadastrar() {
    var nomeVar = iptNome.value;
    var emailVar = iptEmail.value;
    var senhaVar = iptSenha.value;
    var conviteVar = iptConvite.value;

  var mensagem_erro = document.getElementById("mensagem_erro");

    // Verificando se há algum campo em branco
    if (
      nomeVar == "" ||
      emailVar == "" ||
      senhaVar == "" ||
      conviteVar == ""
    ) {
      // cardErro.style.display = "block";
      mensagem_erro.innerHTML =
        '<p style="color:#fc0500; font-weight: bold;">Todos os campos precisam estar preenchidos</p>';
      // finalizarAguardar();
      return false;
    } 

    // Enviando o valor da nova input
    fetch("/usuarios/cadastrar", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        // crie um atributo que recebe o valor recuperado aqui
        // Agora vá para o arquivo routes/usuario.js
        nomeServer: nomeVar,
        emailServer: emailVar,
        senhaServer: senhaVar,
        conviteServer: conviteVar
      }),
    })
      .then(function (resposta) {
        console.log("resposta: ", resposta);

        if (resposta.ok) {
          // cardErro.style.display = "block";

            mensagem_erro.innerHTML = `<p style="color:#70F000; font-weight: bold;">Cadastro realizado com sucesso! Redirecionando para tela de Login...</p>`;
          setTimeout(() => {
            window.location = "login.html";
          }, "2000");

          limparFormulario();
          // finalizarAguardar();
        } else {
          throw "Houve um erro ao tentar realizar o cadastro!";
        }
      })
      .catch(function (resposta) {
        console.log(`#ERRO: ${resposta}`);
        // finalizarAguardar();
      });

    return false;
  }

  // function sumirMensagem() {
  //   cardErro.style.display = "none";
  // }

  module.exports = {
    autenticar,
    cadastrar
};
</script>