<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Gerenciamento de Professores</title>

    <link
      rel="stylesheet"
      href="../css/gerenciamento-de-professores-educacional.css"
    />
    <link rel="stylesheet" href="../css/layout.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Sora:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="dashboard-container">
      <!-- BARRA LATERAL -->
      <aside class="barra-lateral">
        <div class="perfil-lateral">
          <div class="foto-perfil"></div>
          <p class="nome-perfil">Lavínia Todarelli</p>
          <p class="cargo-perfil">Administrador</p>
        </div>
        <nav class="nav-lateral">
           <a href="analise-desempenho"> <button class="nav-btn">Análise e Desempenho por Tema</button></a>
          <a href="dash-monitoramento"
            ><button class="nav-btn">
              Monitoramento de Desempenho por habilidade
            </button></a
          >
          <a href="lista-desempenho"
            ><button class="nav-btn">Lista de Desempenho por questão</button></a
          >
          <a href="simulados"
            ><button class="nav-btn">Simulados</button></a
          >
          <a href="gerenciamento-professores"
            ><button class="nav-btn active">Gerenciamento de professores</button></a
          >
          <a href="gerenciamento-coordenadores"
            ><button class="nav-btn">Gerenciamento de Coordenadores</button></a
          >
        </nav>
      </aside>

      <main class="main-content">
        <header class="dashboard-header">
          <h1>Gerenciamento de Professores</h1>
        </header>

        <div class="dashboard-content">
          <div class="card">
            <div
              class="card-title-row"
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <h2>Lista de usuários</h2>
              <button class="btn-add" onclick="abrirModal()">
                Adicionar usuário
              </button>
            </div>

            <div class="card-content table-container">
              <table class="details-table">
                <thead>
                  <tr>
                    <th>Cod</th>
                    <th>Email</th>
                    <th>Senha</th>
                    <th>Cargo</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>01</td>
                    <td>prof@gmail.com</td>
                    <td>********</td>
                    <td>Professor</td>
                    <td>
                      <button class="icon-btn" onclick="abrirEditar()">
                        ✏️
                      </button>
                    </td>
                    <td><button class="icon-btn">🗑️</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- MODAL -->
    <div class="modal" id="modal">
      <div class="modal-box">
        <h2>Cadastro de Usuário</h2>

        <input placeholder="Email" />
        <input placeholder="Senha" />
        <input placeholder="Confirmar senha" />

        <select>
          <option>Professor</option>
          <option>Coordenador</option>
        </select>

        <div class="modal-actions">
          <button onclick="fecharModal()" class="btn-cancel">Cancelar</button>
          <button class="btn-add">Cadastrar</button>
        </div>
      </div>
    </div>

    <!-- MODAL EDITAR -->
    <div class="modal" id="modalEditar">
      <div class="modal-box">
        <h2>Editar cadastro Professor</h2>

        <input value="gestor@gmail.com" />

        <select>
          <option>Professor</option>
        </select>

        <div class="modal-actions">
          <button onclick="fecharEditar()" class="btn-cancel">Cancelar</button>
          <button class="btn-add">Atualizar</button>
        </div>
      </div>
    </div>

    <script>
      function abrirModal() {
        document.getElementById("modal").style.display = "flex";
      }

      function fecharModal() {
        document.getElementById("modal").style.display = "none";
      }

      function abrirEditar() {
        document.getElementById("modalEditar").style.display = "flex";
      }

      function fecharEditar() {
        document.getElementById("modalEditar").style.display = "none";
      }
    </script>
  </body>
</html>
