@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

:root{
    --main: #ffff;
    --seundaria: #ff6105;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--seundaria);
}

.container{
    height: 100%;
    width: 50%;
    background-image: url(../assets/imgs/cadastro.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
}

.container h1{    
    color: #ffff;
    font-weight: 400;
    font-size: 5.5vw;
}

.container h4{
    font-weight: 200;
    font-size: 1.5vw;
    color: #ffff;
}

.container h1, h4{
    margin: 5% 5%;
}

.container-formulario{
    height: 100%;
    width: 50%;
    background-color: #ff6105;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
}

label{
    color: var(--main);
    font-size: 1.4vw;
}

input{
    color: var(--main);
    background-color:#ff6105;
    border: solid #fcfcfcd0 0.5px;
    border-radius: 6px;
    width: 36vw;
    height: 6vh;
    font-size: 1.4vw;
}

button{
    background-color: #ffa125;
    color: var(--main);
    font-size: 2vw;
    border-radius: 20px;
    border: none;
    width: 36vw;
    height: 7vh;
    cursor: pointer;
}